name: "Test"

on:
  workflow_dispatch:
  push:
    branches: ["**"]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: |
          env

      - name: "1: Test Local Action"
        id: test
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          #multi: one + one
          multi: |
            one + one
            two + two

      - name: "1: Echo Outputs"
        run: |
          echo results: '${{ steps.test.outputs.results }}'
